@import "variables";
@import "mixin";
@import "functions";

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

/*Navbar*/
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;

    .navbar-content {
        @include glass;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: $border-radius;
        margin: 20px 5rem 20px 5rem;
        height: 80px;
        background-color: #{adjust-color($glass-color, 10%)};

        .logo {
            width: 40px;
            margin-left: 40px;
        }

        .menu-button {
            display: none;
            background: transparent;
            border: none;
            cursor: pointer;

            .menu-icon {
                width: 24px;
                height: 24px;
                color: $primary-color;
            }
        }

        .nav-links {
            display: flex;
            gap: 3rem;
            align-items: center;
            margin: 30px;

            a {
                color: $primary-color;
                font-size: 1.2rem;
                text-decoration: none;

                &:hover {
                    color: adjust-color($primary-color, $amount: 20%);
                }
            }

            .contact-nav-button {
                color: $primary-color;
                font-size: 1.2rem;
                font-weight: bold;
                background-color: transparent;
                border: none;
                border-radius: 9999px;
                padding: 0.5rem 1rem;
                cursor: pointer;
            }
        }

        .mobile-nav-links {
            display: none;
            flex-direction: column;
            gap: 2rem;
            width: 90%;
            position: absolute;
            top: 80px;
            left: 50%;
            transform: translateX(-50%);
            background-color: white;
            border-radius: $border-radius;
            text-align: center;
            margin-top: 20px;
            padding: 1rem;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

            a {
                color: $primary-color;
                font-size: 1.2rem;
                text-decoration: none;
            }

            .contact-nav-button {
                color: $primary-color;
                font-size: 1.2rem;
                font-weight: bold;
                background-color: transparent;
                border: none;
                border-radius: 9999px;
                padding: 0.5rem 1rem;
                cursor: pointer;
                border: 1px solid $primary-color;

                &:hover {
                    background-color: adjust-color(
                        $primary-color,
                        $amount: 20%
                    ); // Using Function with named argument
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .navbar-content {
            margin: 10px 1rem 10px 1rem;

            .menu-button {
                display: block;
                margin-right: 20px;
            }

            .nav-links {
                display: none;
            }

            .mobile-nav-links.show {
                display: flex;
            }
        }
    }
}

/*Hero Section*/
.section1 {
    @include flex-center;
    position: relative;
    height: 100vh;
    overflow: hidden;

    img {
        position: absolute;
        max-width: 100%;
        height: auto;
        transition: top 0.3s ease;
    }

    .overlay {
        @include flex-column;
        position: absolute;
        top: auto;
        text-align: center;
        z-index: 10;

        .title-button {
            border: 1px solid $primary-color;
            border-radius: 9999px;
            padding: 0.5rem 1rem;
            background-color: transparent;
            color: $primary-color;
            font-size: 1.2rem;
            font-weight: 500;
        }

        .main-title {
            font-size: 4rem;
            font-weight: bold;
            color: $primary-color;
            margin: 15px;
        }

        .sub-title {
            margin: 0 0 25px 0;
            font-size: 1.2rem;
            color: $primary-color;
            font-weight: 300;
        }

        .buttons {
            display: flex;
            gap: 1rem;

            .github-button {
                background-color: $secondary-color;
                color: white;
                border-radius: $border-radius;
                padding: 0.5rem 1rem;

                border: none;
                cursor: pointer;
                font-size: 1.2rem;
                width: 150px;
                height: 50px;
            }

            .contact-button {
                @extend .github-button;
                background-color: transparent;
                color: $primary-color;
                border: 1px solid $primary-color;
            }
        }
    }

    .gradient {
        @include gradient;
    }

    @media (min-width: 1023px) and (max-width: 1366px) {
        img {
            width: 100%;
            height: 800px;
        }
    }
}

/*About Section*/
.section2 {
    @include flex-center;

    table {
        border: none;
        border-spacing: 20px;
        width: 89%;
        height: 60vh;

        td {
            padding: 40px;
            text-align: left;
            vertical-align: bottom;
            border: none;
            border-radius: $border-radius;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;

            &:hover {
                transform: translateY(-10px);
            }
        }

        h2 {
            margin: 15px 0;
            font-size: 2.5rem;
            font-weight: 700;
            color: white;
        }

        h4 {
            @extend h2;
            font-size: 2rem;
            font-weight: 500;
        }

        h6 {
            @extend h2;
            font-size: 1.6rem;
            font-weight: 400;
        }

        .cell1 {
            width: 50%;
            background-color: $blue-color;
            background-image: url("../media/benefit4.png");
            background-position: top right;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .cell2 {
            width: 50%;
            background-color: $green-color;
            background-image: url("../media/benefit2.png");
            background-position: bottom right;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .cell3 {
            width: 50%;
            background-color: $yellow-color;
            background-image: url("../media/benefit1.png");
            background-position: bottom left;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    @media (max-width: 768px) {
        table {
            width: 100%;
            height: auto;
            border-spacing: 0;
            padding: 0;
            margin: 0;

            td {
                display: block;
                box-sizing: border-box;
                padding: 20px;
                margin: 20px 0;
                text-align: center;

                &:hover {
                    transform: none;
                }

                div {
                    margin: 0;
                    h2 {
                        font-size: 2rem;
                        text-align: center;
                    }

                    h4,
                    h6 {
                        font-size: 1.8rem;
                    }
                }
            }

            .cell1,
            .cell2,
            .cell3 {
                width: calc(100% - 80px);
                height: 35vh;
                background-size: cover;
                margin-left: 40px;
            }

            .cell1 {
                background-position: calc(100% + 150px);
            }

            .cell2 {
                background-position: bottom right;
                background-size: 80%;
            }

            .cell3 {
                margin-top: 0px;
                background-size: 90%;
            }
        }
    }
}

/*Projects Section*/
.section3 {
    @include flex-column;
    padding: 20px;

    .header {
        margin: 20px 0 20px 0;
        text-align: center;

        h2 {
            @include titles;
        }
    }

    table {
        width: 91%;
        border-spacing: 20px;
        height: 60vh;
        border: none;

        td {
            padding: 40px;
            text-align: left;
            vertical-align: bottom;
            border: none;
            border-radius: $border-radius;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            position: relative;
            background-size: 100%;
            background-position: center;
            transition: background-size 0.3s ease-in-out;

            a {
                text-decoration: none;
            }

            h2 {
                margin: 15px 0;
                font-size: 2.5rem;
                font-weight: 700;
                color: white;
            }

            aside {
                font-weight: 400;
                color: white;

                h6 {
                    font-size: 1.6rem;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 1.2rem;
                    margin: 0;
                }
            }

            &:hover {
                background-size: 110%;
            }
        }

        .cell1 {
            width: 33.33%;
            background-image: url("../media/project1.png");
            background-repeat: no-repeat;
            background-color: $blue-color;
        }

        .cell2 {
            width: 33.33%;
            background-image: url("../media/project2.png");
            background-repeat: no-repeat;
            background-color: $green-color;
        }

        .cell3 {
            width: 33.33%;
            background-image: url("../media/project3.png");
            background-repeat: no-repeat;
            background-color: $yellow-color;
        }

        .icon-button {
            display: none;
            position: absolute;
            bottom: 20px;
            right: 20px;
            width: 40px;
            height: 40px;
            background-color: white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

            img {
                width: 20px;
                height: 20px;
            }
        }
    }

    @media (max-width: 767px) {
        table {
            width: 100%;
            height: auto;
            border-spacing: 0;
            padding: 0;
            margin: 0;

            td {
                display: block;
                box-sizing: border-box;
                padding: 20px;
                margin: 20px 0;
                text-align: center;
                position: relative;

                &:hover {
                    transform: none;
                }

                a:last-child {
                    display: none;
                }

                .icon-button {
                    display: flex;
                }
            }

            .cell1,
            .cell2,
            .cell3 {
                width: calc(100% - 40px);
                height: 35vh;
                background-position: center;
                background-size: cover;
                margin-left: 20px;
                background-position: top center;
            }
        }
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        table {
            width: 100%;
            height: auto;
            border-spacing: 0;
            padding: 0;
            margin: 0;

            td {
                display: block;
                box-sizing: border-box;
                padding: 20px;
                margin: 20px 0;
                text-align: center;
                position: relative;

                &:hover {
                    transform: none;
                }

                a:last-child {
                    display: none;
                }

                .icon-button {
                    display: flex;
                }
            }

            .cell1,
            .cell2,
            .cell3 {
                width: calc(100% - 40px);
                height: 60vh;
                background-position: center;
                background-size: cover;
                margin-left: 20px;
                background-position: top center;
            }
        }
    }
}

/*Skills Section*/
.section4 {
    padding: 20px 100px 20px 100px;

    .header {
        margin: 20px 0;
        text-align: center;

        h2 {
            @include titles;
        }
    }

    .skills-list {
        list-style: none;
        padding: 0;
        margin: 0;

        .skills-item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            height: 10vh;
            background-color: #f7f9fa;
            border-radius: $border-radius;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease;

            &:hover {
                transform: translateY(-10px);
            }

            &:last-child {
                margin-bottom: 0;
            }

            .circle {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                margin-left: 20px;
                margin-right: 10px;

                &.yellow {
                    background-color: #fffac4;
                }

                &.green {
                    background-color: #bcf7d1;
                }

                &.blue {
                    background-color: #bfdcff;
                }

                &.red {
                    background-color: #ffcccc;
                }

                &.purple {
                    background-color: #ead6ff;
                }

                &.orange {
                    background-color: #ffd8ab;
                }

                &.cyan {
                    background-color: #c4ffdc;
                }
            }

            h2 {
                font-size: 1.5rem;
                font-weight: 500;
                margin: 0;
                color: #333;
            }

            h6 {
                font-size: 1rem;
                font-weight: 400;
                margin-top: 5px;
                color: #777;
            }
        }
    }

    @media (max-width: 768px) {
        padding: 20px 40px 20px 40px;
    }
}

/*Hobbies Section*/
.section5 {
    @include flex-column;
    padding: 20px;

    .header {
        margin: 20px 0 -40px 0;
        text-align: center;

        h2 {
            @include titles;
        }
    }

    table {
        width: 91%;
        border-spacing: 20px;
        height: 60vh;
        border: none;

        .row-title {
            text-align: center;
            padding: 10px 0;
            border: none;
            height: 10vh;
            h2 {
                font-size: 1.6rem;
                font-weight: 400;
            }
        }

        td {
            height: 60vh;
            border: none;
            border-radius: $border-radius;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .cell1 {
            background-image: url("../media/painting1.jpeg");
            @include image-cover;
        }

        .cell2 {
            background-image: url("../media/painting2.jpeg");
            @include image-cover;
        }

        .cell3 {
            background-image: url("../media/painting3.jpeg");
            @include image-cover;
        }

        .cell4 {
            background-image: url("../media/photography1.jpeg");
            @include image-cover;
        }

        .cell5 {
            background-image: url("../media/photography2.jpeg");
            @include image-cover;
        }

        .cell6 {
            background-image: url("../media/photography3.jpeg");
            @include image-cover;
        }
    }

    @media (max-width: 767px) {
        padding: 20px 30px 30px 40px;

        table {
            width: 100%;
            height: auto;
            border-spacing: 0;
            padding: 0;
            margin: 0;

            td {
                display: block;
                box-sizing: border-box;
                padding: 20px;
                margin: 20px 0;
                text-align: center;
                position: relative;

                &:hover {
                    transform: none;
                }

                a:last-child {
                    display: none;
                }

                .icon-button {
                    display: flex;
                }
            }

            .cell1,
            .cell2,
            .cell3,
            .cell4,
            .cell5,
            .cell6 {
                width: calc(100% - 40px);
                height: 50vh;
                background-position: center;
                background-size: cover;
                margin-left: 20px;
                background-position: top center;
            }
        }
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        padding: 20px 30px 30px 40px;

        table {
            width: 100%;
            height: auto;
            border-spacing: 0;
            padding: 0;
            margin: 0;

            td {
                display: block;
                box-sizing: border-box;
                padding: 20px;
                margin: 20px 0;
                text-align: center;
                position: relative;

                &:hover {
                    transform: none;
                }

                a:last-child {
                    display: none;
                }

                .icon-button {
                    display: flex;
                }
            }

            .cell1,
            .cell2,
            .cell3,
            .cell4,
            .cell5,
            .cell6 {
                width: calc(100% - 40px);
                height: 80vh;
                background-position: center;
                background-size: cover;
                margin-left: 20px;
                background-position: top center;
            }
        }
    }
}

/* Footer */
.footer {
    @include glass;
    padding: 1rem;
    text-align: center;
    border-radius: $border-radius;
    margin: 1rem 6rem;
    height: 5vh;

    .footer-content {
        @include flex-center;
        align-items: center;
        height: 100%;

        .footer-links {
            display: flex;
            gap: 2rem;

            .footer-link {
                font-size: 1rem;
                color: $secondary-color;
                text-decoration: none;
            }
        }
    }

    @media (max-width: 768px) {
        margin: 1rem 2rem;
    }
}
